@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.animate-gradient {
  animation: gradient 3s linear infinite;
  background-size: 200% 200%;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated-gradient {
  background: linear-gradient(
    120deg,
    rgba(99, 102, 241, 0.08),
    rgba(236, 72, 153, 0.08),
    rgba(14, 165, 233, 0.08)
  );
  background-size: 200% 200%;
  animation: gradientMove 12s ease infinite;
}

